workflow/print-order-intake.json
{
  "name": "Print Order Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1f0c2d4-1111-4a01-9b01-000000000001",
      "name": "Order Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "a1f0c2d4-1111-4a01-9b01-000000000001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/extract",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.body.brief }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1f0c2d4-2222-4a01-9b01-000000000002",
      "name": "Extract Fields (Experiment 1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "f01", "name": "received_at", "value": "={{ $now.toISO() }}", "type": "string"},
            {"id": "f02", "name": "customer_name", "value": "={{ $('Order Webhook').item.json.body.customer_name }}", "type": "string"},
            {"id": "f03", "name": "customer_email", "value": "={{ $('Order Webhook').item.json.body.customer_email }}", "type": "string"},
            {"id": "f04", "name": "job_type", "value": "={{ $json.job_type }}", "type": "string"},
            {"id": "f05", "name": "product", "value": "={{ $json.product }}", "type": "string"},
            {"id": "f06", "name": "quantity", "value": "={{ $json.quantity }}", "type": "string"},
            {"id": "f07", "name": "size", "value": "={{ $json.size }}", "type": "string"},
            {"id": "f08", "name": "paper_stock", "value": "={{ $json.paper_stock }}", "type": "string"},
            {"id": "f09", "name": "gsm", "value": "={{ $json.gsm }}", "type": "string"},
            {"id": "f10", "name": "finish", "value": "={{ $json.finish }}", "type": "string"},
            {"id": "f11", "name": "colour_mode", "value": "={{ $json.colour_mode }}", "type": "string"},
            {"id": "f12", "name": "deadline", "value": "={{ $json.deadline }}", "type": "string"},
            {"id": "f13", "name": "delivery", "value": "={{ $json.delivery }}", "type": "string"},
            {"id": "f14", "name": "contact", "value": "={{ $json.contact }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "a1f0c2d4-3333-4a01-9b01-000000000003",
      "name": "Assemble Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 0]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "PASTE_YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "a1f0c2d4-4444-4a01-9b01-000000000004",
      "name": "Save to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [720, 0]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Assemble Record').item.json.customer_email }}",
        "subject": "We've received your print order",
        "emailType": "text",
        "message": "=Hi {{ $('Assemble Record').item.json.customer_name }},\n\nThanks for your order, we've logged it and our team will be in touch with a quote shortly.\n\nHere is what we captured:\n- Job type: {{ $('Assemble Record').item.json.job_type }}\n- Product: {{ $('Assemble Record').item.json.product }}\n- Quantity: {{ $('Assemble Record').item.json.quantity }}\n- Size: {{ $('Assemble Record').item.json.size }}\n- Stock: {{ $('Assemble Record').item.json.paper_stock }} {{ $('Assemble Record').item.json.gsm }}\n- Finish: {{ $('Assemble Record').item.json.finish }}\n- Colour: {{ $('Assemble Record').item.json.colour_mode }}\n- Needed by: {{ $('Assemble Record').item.json.deadline }}\n- Delivery: {{ $('Assemble Record').item.json.delivery }}\n\nIf anything above looks wrong, just reply to this email.\n\nMany thanks",
        "options": {}
      },
      "id": "a1f0c2d4-5555-4a01-9b01-000000000005",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [960, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\", \"order\": $('Assemble Record').item.json } }}",
        "options": {}
      },
      "id": "a1f0c2d4-6666-4a01-9b01-000000000006",
      "name": "Respond to Caller",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 0]
    }
  ],
  "connections": {
    "Order Webhook": {
      "main": [[{"node": "Extract Fields (Experiment 1)", "type": "main", "index": 0}]]
    },
    "Extract Fields (Experiment 1)": {
      "main": [[{"node": "Assemble Record", "type": "main", "index": 0}]]
    },
    "Assemble Record": {
      "main": [[{"node": "Save to Google Sheet", "type": "main", "index": 0}]]
    },
    "Save to Google Sheet": {
      "main": [[{"node": "Send Confirmation", "type": "main", "index": 0}]]
    },
    "Send Confirmation": {
      "main": [[{"node": "Respond to Caller", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
